[General]
localAddress = 0.0.0.0
port = 25565
maximumPlayers = 64
hostname = My TES3MP server
# 0 - Verbose (spam), 1 - Info, 2 - Warnings, 3 - Errors, 4 - Only fatal errors
logLevel = 1
password =

[Plugins]
home = ~/local/openmw/tes3mp
plugins = server.lua

[MasterServer]
enabled = true
address = master.tes3mp.com
port = 25560
rate = 1000
