[General]
server = mp.tes3mp.com
port = 25565
password =
# 0 - Verbose (spam), 1 - Info, 2 - Warnings, 3 - Errors, 4 - Only fatal errors
loglevel = 0

[Master]
address = master.tes3mp.com
port = 8080

[Chat]
# Use https://wiki.libsdl.org/SDL_Keycode to find the correct key codes when rebinding
#
# For chatting
keySay = Y
# For enabling or disabling the chat window
keyChatMode = F2
x = 0
y = 0
w = 390
h = 250
delay = 5.0 # How long the message will be displayed in hidden mode
