Checks: >
  -*,
  portability-*,
  clang-analyzer-*,
  -clang-analyzer-optin.*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-cplusplus.NewDelete,
  -clang-analyzer-core.CallAndMessage,
  modernize-avoid-bind
WarningsAsErrors: '*'
HeaderFilterRegex: '(apps|components)/'
