root = true

[*.cpp]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.hpp]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.glsl]
indent_style = space
indent_size = 4
insert_final_newline = false