build
*~
Doxygen
prebuilt
apps/openmw/config.hpp
Docs/mainpage.hpp
CMakeFiles
*/CMakeFiles
CMakeCache.txt
moc_*.cxx
cmake_install.cmake
*.[ao]
Makefile
makefile
data
*.kdev4
CMakeLists.txt.user
*.swp
*.swo
*.kate-swp
