Adam Hogan <comrade!comrade-desktop.(none)>
Aleksandar Jovanov <ajovanov93!yahoo.com>
Alexander Olofsson <ace!haxalot.com>
Alex McKibben <mckibbenta+openmw-mailmap!gmail.com>
Alex "rainChu" Haddad <alx1213+openmw-mailmap!gmail.com>
Ardekantur <greystone!ardekantur.com>
Armin Preiml <b.nutzer+openmw-mailmap!gmail.com>
Artem Kotsynyak <greye!carceri>
Arthur Moore <arthur!Behemoth>
Arthur Moore <Arthur.Moore.git!cd-net.net>
athile <athile!athile.net>
athile <athile.g+openmw-mailmap!gmail.com>
Stefan Galowicz <bogglez!the.mind>
Bret Curtis <psi29a+openmw-mailmap!gmail.com>
Britt Mathis <britt.mathis+openmw-mailmap!gmail.com>
Sandy Carter <bwrsandman+openmw-mailmap!gmail.com>
Sandy Carter <mr.sandy.carter+openmw-mailmap!gmail.com>
Carl Maxwell <carl.maxwell+openmw-mailmap!gmail.com>
cc9cii <cc9c!iinet.net.au>
Cory F. Cohen <cfcohen!verizon.net>
Chris Robinson <chris.kcat+openmw-mailmap!gmail.com>
Cris Mihalache <mirceam94!hotmail.com>
darkf <lw9k123+openmw-mailmap!gmail.com>
Diggory Hardy <diggory.hardy+openmw-mailmap!gmail.com>
Thomas Luppi <ThomasLuppi+openmw-mailmap!gmail.com>
Thomas Luppi <tluppi!thomas-GE60.(none)>
Dmitriy 'Endorph' Shkurskiy <end0rph!hotmail.com>
Dmitry Marakasov <amdmi3!amdmi3.ru>
Douglas Diniz <dgdiniz+openmw-mailmap!gmail.com>
Douglas Mencken <dougmencken+openmw-mailmap!gmail.com>
Edmondo Tommasina <edmondo.tommasina+openmw-mailmap!gmail.com>
Eduard Cot <eduard!eduard-iMac.(none)>
Eli2 <fabian!fabian-desktop.(none)>
Emanuel Guével <guevel.emanuel+openmw-mailmap!gmail.com>
Leon Saunders <LeonDavidSaunders+openmw-mailmap!gmail.com>
Fil Krynicki <filipkrynicki+openmw-mailmap!gmail.com>
John Blomberg <johnblo!kth.se>
Gašper Sedej <gsedej+openmw-mailmap!gmail.com>
Michał Bień <michal1.bien+openmw-mailmap!gmail.com>
Joel Graff <monograff76+openmw-mailmap!gmail.com>
Paul McElroy <pcm1123+openmw-mailmap!gmail.com>
Artem Kotsynyak <greye!carceri>
Artem Kotsynyak <greye!null.net>
gugus <gus_512!hotmail.com>
guidoj <guido!thuisbasis.net>
gus <gus_512!hotmail.com>
Hallfaer Tuilinn <gijsbertth+openmw-mailmap!gmail.com>
Julian Ospald <julian.ospald!googlemail.com>
Jacob Essex <jacob!jacobessex.com>
Jan Borsodi <jborsodi+openmw-mailmap!gmail.com>
Jan-Peter Nilsson <peppe!pappkartong.se>
Jason Hooks <Hooks!.(none)>
Jason Hooks <jason!Jason-ThinkPad-R61.(none)>
Jason Hooks <jhooks1!mix.wvu.edu>
Jeffrey Haines <jeffhaines!me.com>
Jeffrey Haines <jib-y!users.noreply.github.com>
Jordan Ayers <jordan.ayers+openmw-mailmap!gmail.com>
Jordan Milne <jordan.milne!saynotolinux.com>
Josua Grawitter <josh!greyage.org>
Julien Voisin <pouicpouicpouic+openmw-mailmap!gmail.com>
Karl-Felix Glatzer <karl.glatzer!gmx.de>
Chris Robinson <chris.kcat+openmw-mailmap!gmail.com>
Kevin Poitra <pupkev!yahoo.com>
Roman Proskuryakov <humbug!deeptown.org>
Lars Söderberg <lazze_1983!hotmail.com>
lazydev <lazydev!homecomp>
lazydev <lazydev!nomail>
Lukasz Gromanowski <lgromanowski+openmw-mailmap!gmail.com>
Marc Bouvier <marcrbouvier+openmw-mailmap!gmail.com>
Marcin Hulist <Gohan1989+openmw-mailmap!gmail.com>
Marc Zinnschlag <marc!zpages.de>
Marek Kochanowicz <herr!mikrus.pl>
Marek Kochanowicz <marek!localhost.localdomain>
Marek Kochanowicz <sirherrbatka+openmw-mailmap!gmail.com>
Mark Siewert <mark.siewert!t-online.de>
Mark Siewert <ms!cerebra.localdomain>
megaton <9megaton6+openmw-mailmap!gmail.com>
Michael Mc Donnell <michael!mcdonnell.dk>
Michael Papageorgiou <werdanith!yahoo.gr>
Michal Sciubidlo <michal.sciubidlo+openmw-mailmap!gmail.com>
Michał Ściubidło <michal.sciubidlo+openmw-mailmap!gmail.com>
Nathan Jeffords <blunted2night+openmw-mailmap!gmail.com>
Nicolay Korslund <korslund+openmw-mailmap!gmail.com>
Nicolay Korslund <nicolayk!met.no>
Nikolay Kasyanov <corrmage+openmw-mailmap!gmail.com>
pchan3 <chantlerpeter+openmw-mailmap!gmail.com>
Pieter van der Kloet <pvdkloet+openmw-mailmap!gmail.com>
Mateusz Kołaczek <mateusz.kolaczek+openmw-mailmap!gmail.com>
Bret Curtis <psi29a+openmw-mailmap!gmail.com>
Pieter van der Kloet <pvdkloet+openmw-mailmap!gmail.com>
Rohit Nirmal <rohitnirmal9+openmw-mailmap!gmail.com>
Roman Melnik <kromgart+openmw-mailmap!gmail.com>
Radu-Marius Popovici <rpopovici!github.com>
Sandy Carter <bwrsandman+openmw-mailmap!gmail.com>
Scott Howard <showard314+openmw-mailmap!gmail.com>
Jannik Heller <scrawl!baseoftrash.de>
Jannik Heller <scrawl!scrawl-laptop.(none)>
Sebastian Wick <sebastian!sebastianwick.net>
Sebastian Wick <wick.sebastian+openmw-mailmap!gmail.com>
Sergey Shambir <sergey.shambir.auto+openmw-mailmap!gmail.com>
sergoz <parapvr!yandex.ru>
Chris Boyce <slothlife!users.noreply.github.com>
Star-Demon <starsickle!yahoo.com>
Sylvain Thesnieres <garvek+openmw-mailmap!gmail.com>
Thomas Luppi <digrules+openmw-mailmap!gmail.com>
Thomas Luppi <tluppi!thomas-GE60.(none)>
Thoronador <thoronador!users.sourceforge.net>
TomKoenderink <tom_koenderink-github!omniadicta.net>
Tom Mason <wheybags!wheybags.com>
Torben Carrington <torbenlcarrington+openmw-mailmap!gmail.com>
Vincent Heuken <vincent!vincentheuken.com>
Manuel Edelmann <edelmann.manuel+openmw-mailmap!gmail.com>
Manuel Edelmann <vorenon!hotmail.com>
Alexander Nadeau <wareya+openmw-mailmap!gmail.com>
Michael Hogan <mr.michaelhogan+openmw-mailmap!gmail.com>
Jacob Essex <github!JacobEssex.com>
Yuri Krupenin <yuri.krupenin+openmw-mailmap!gmail.com>
Bret Curtis <noone!your.box>

sirherrbatka <herr!localhost.localdomain>
sirherrbatka <sirherrbatka!myopera.com>
sergei <sergei!ubuntu.(none)>
riothamus <digimars+openmw-mailmap!gmail.com>
nobrakal <nobrakal+openmw-mailmap!gmail.com>
nkorslund <nkorslund!ea6a568a-9f4f-0410-981a-c910a81bb256>
mrcheko <cheko!sevas.ua>
Miroslav Puda <pakanek+openmw-mailmap!gmail.com>
MiroslavR <miroslavr256+openmw-mailmap!gmail.com>
mckibbenta <mckibbenta+openmw-mailmap!gmail.com>
jeaye <jeaye!arrownext.com>
eroen <eroen!falcon.eroen.eu>
eroen <eroen!occam.eroen.eu>
dreamer-dead <dreamer.dead+openmw-mailmap!gmail.com>
crysthala <crystalsoulslayer+openmw-mailmap!gmail.com>
Berulacks <beru!eml.cc>
Axujen <axujen+openmw-mailmap!gmail.com>
root <root!debian>
unknown <Hooks!.(none)>

