# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
#Zip=ogre/media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
#FileSystem=media
#FileSystem=ogre/media/fonts
#FileSystem=ogre/media/materials/programs
#FileSystem=ogre/media/materials/scripts
#FileSystem=ogre/media/materials/textures
#FileSystem=ogre/media/models
#FileSystem=ogre/media/overlays
#FileSystem=ogre/media/particle
#FileSystem=ogre/media/gui
#Zip=ogre/media/packs/cubemap.zip
#Zip=ogre/media/packs/cubemapsJS.zip
#Zip=ogre/media/packs/dragon.zip
#Zip=ogre/media/packs/fresneldemo.zip
#Zip=ogre/media/packs/ogretestmap.zip
#Zip=ogre/media/packs/skybox.zip
BSA=internal
