Source: openmw
Section: games
Priority: optional
Maintainer: Bret Curtis <psi29a@gmail.com>
Build-Depends: debhelper (>= 9~), cmake, libbullet-dev,
 libboost-filesystem-dev, libboost-program-options-dev, libboost-system-dev,
 libboost-thread-dev, libboost-wave-dev, libfreeimage-dev, libfreetype6-dev,
 libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libice-dev,
 libopenal-dev, libsm-dev, uuid-dev, libqt4-dev,
 libx11-dev, libxaw7-dev, libxrandr-dev, libxt-dev, libzzip-dev, libz-dev,
 libpng12-dev, libavcodec-dev, libavformat-dev, libavdevice-dev, libavutil-dev,
 libswscale-dev, libpostproc-dev, libsdl2-dev, libogre-1.8-dev,  libmygui-dev,
 libunshield-dev
Standards-Version: 3.9.4
Homepage: http://openmw.org
Vcs-Git: git://github.com/zinnschlag/openmw.git
Vcs-Browser: https://github.com/zinnschlag/openmw

Package: openmw
Architecture: any
Recommends: openmw-launcher
Depends: ${shlibs:Depends}, ${misc:Depends}, openmw-data (= ${source:Version})
Description: Reimplementation of The Elder Scrolls III: Morrowind
 OpenMW is a reimplementation of the Bethesda Game Studios game 
 The Elder Scrolls III: Morrowind.
 .
 The Morrowind "Data Files" from the original game are required to play.

Package: openmw-data
Architecture: all
Recommends: openmw
Depends: ${misc:Depends}, fonts-ebgaramond-extra, fonts-dejavu-core
Description: Resources for the OpenMW engine.
 All the shaders, models and extra assets necessary for running OpenMW.

Package: openmw-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openmw (>= ${source:Version})
Description: Launcher for OpenMW using the Qt-Gui-Toolkit.
 Additional launcher for OpenMW for handling expansions and mods.

#Package: esmtool
#Section: utils
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: Command-Line tool which can extract ESM-Files.
# Command-Line tool which can extract ESM-Files.
