[Desktop Entry]
Type=Application
Name=OpenMW Content Editor
GenericName=Content Editor
Comment=A replacement for the Morrowind Construction Set.
Keywords=Morrowind;Construction Set;Creation Kit Editor;Set;Kit;
TryExec=opencs
Exec=opencs
Icon=opencs
Categories=Game;RolePlaying;
