#luadoc code, #luadoc tt, #luadoc p em {
    font-family: 'JetBrains Mono', monospace;
}

#luadoc pre.example {
    background-color: hsl(var(--accent)) !important;
    padding: 10px;
    margin: 10px 0 10px 0;
    overflow-x: auto;
}

#luadoc pre.example code {
    color: black;
    background-color: hsl(var(--accent)) !important;
    border: none;
    white-space: pre;
    padding: 0px;
}

html.dark #luadoc pre.example,
html.dark #luadoc pre.example code {
  background-color: hsl(var(--muted));
  color: #ffffff;
}

#luadoc code {
  background-color: unset;
}

#content #luadoc code a:not(.toc-backref) {
  font-weight: 600;
}

#luadoc > p:nth-child(1) {
  margin: 12px 0 12px 0;
}

#luadoc a:not([href]) {
    font-weight: bold;
    text-decoration: none;
    cursor: inherit;
    color: inherit;
}

#luadoc a:not([href]):hover {
    color: inherit;
}

#luadoc code a em {
  color: inherit;
  font-weight: inherit;
}

#luadoc em {
  font-size: 13px;
  font-style: normal;
}

.context-wrapper {
    display: flex;
    margin-top: 14px;
    gap: 4px;
}

#luadoc ul { list-style-type: disc; }
#luadoc li {list-style: bullet;}

table.docutils {
    width: 100%;
}