#luadoc code, #luadoc tt {
    font-family: monospace;
}

#luadoc pre.example {
    background-color: #eeffcc;
    padding: 10px;
    margin: 10px 0 10px 0;
    overflow-x: auto;
}

#luadoc pre.example code {
    color: black;
    background-color: #eeffcc;
    border: none;
    white-space: pre;
    padding: 0px;
}

html.dark #luadoc pre.example,
html.dark #luadoc pre.example code {
  background-color: hsl(var(--muted));
  color: #ffffff;
}
#luadoc > p:nth-child(1) {
  margin: 12px 0 12px 0;
}

#luadoc a:not(:link) {
    font-weight: bold;
    color: var(--color-content-foreground);
    text-decoration: none;
    cursor: inherit;
}

#luadoc em {
  font-size: 13px;
  font-style: normal;
}

#luadoc p em { font-family: 'monospace';}

#luadoc a:link { font-weight: bold; color: var(--color-link);; text-decoration: none; }
#luadoc a:visited { font-weight: bold; color: var(--color-link--hover); text-decoration: none; }
#luadoc a:link:hover { text-decoration: underline; }

.context-wrapper {
    display: flex;
    margin-top: 14px;
    gap: 4px;
}

#luadoc ul { list-style-type: disc; }

#luadoc ul { list-style-type: disc; }
#luadoc li {list-style: bullet;}

table.docutils {
    width: 100%;
}