#content a.sd-badge:not(.toc-backref), #content table a:not(.toc-backref)  {
    text-decoration: none;
}

.dark\:invert {
    --tw-invert: none !important;
}

code {
    white-space: normal;
}

.md-sidebar--primary {
    width: 500px; /* default is 240px */
}

.md-content {
    margin-left: 500px; /* match the new sidebar width */
}

#searchbox kbd {
    display: none !important;
}